[include]
  # For username / creds / etc
  path = ~/.gitconfig.local
[color]
	ui = auto
[push]
	default = current
	autoSetupRemote = true
[merge]
	tool = meld
[alias]
	undo = reset --soft HEAD^
	cleanup = !git for-each-ref --format '%(refname:short)' --merged HEAD refs/heads/ | grep -v master | grep -v main | xargs -r git branch -D
[commit]
	gpgsign = true
[pull]
	ff = only
	autoStash = true
[init]
	defaultBranch = main
[fetch]
	prune = true
[rebase]
	autosquash = true
	updateRefs = true
	autoStash = true
[help]
	autocorrect = 20
# nvim + https://github.com/dandavison/delta
[core]
	editor = vim
	pager = delta
[interactive]
	diffFilter = delta --color-only --features=interactive
[delta]
	features = catppuccin-mocha
	navigate = true # use n and N to move between diff sections
	side-by-side = true
[delta "interactive"]
  keep-plus-minus-markers = false
[delta "catppuccin-frappe"]
	commit-decoration-style = "box ul"
	dark = true
	file-decoration-style = "#c6d0f5"
	file-style = "#c6d0f5"
	hunk-header-decoration-style = "box ul"
	hunk-header-file-style = "bold"
	hunk-header-line-number-style = "bold #a5adce"
	hunk-header-style = "file line-number syntax"
	line-numbers = true;
	line-numbers-left-style = "#737994"
	line-numbers-minus-style = "bold #e78284"
	line-numbers-plus-style = "bold #a6d189"
	line-numbers-right-style = "#737994"
	line-numbers-zero-style = "#737994"
	# 40% red 60% base
	minus-emph-style = "bold syntax #79535f"
	# 20% red 80% base
	minus-style = "syntax #544452"
	# 40% green 60% base
	plus-emph-style = "bold syntax #5f7361"
	# 20% green 80% base
	plus-style = "syntax #485453"
	# Should match the name of the bat theme
  syntax-theme = "Catppuccin-frappe"
[delta "catppuccin-mocha"]
	commit-decoration-style = "box ul"
	dark = true
	file-decoration-style = "#cdd6f4"
	file-style = "#cdd6f4"
	hunk-header-decoration-style = "box ul"
	hunk-header-file-style = "bold"
	hunk-header-line-number-style = "bold #a6adc8"
	hunk-header-style = "file line-number syntax"
	line-numbers = true;
	line-numbers-left-style = "#6c7086"
	line-numbers-minus-style = "bold #f38ba8"
	line-numbers-plus-style = "bold #a6e3a1"
	line-numbers-right-style = "#6c7086"
	line-numbers-zero-style = "#6c7086"
	# 40% red 60% base
	minus-emph-style = "bold syntax #734b60"
	# 20% red 80% base
	minus-style = "syntax #4a3447"
	# 40% green 60% base
	plus-emph-style = "bold syntax #546e5c"
	# 20% green 80% base
	plus-style = "syntax #394545"
	# Should match the name of the bat theme
	syntax-theme = "Catppuccin-mocha"
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default
