[color]
	ui = auto
[user]
	name = zyhou
[push]
	default = simple
	autoSetupRemote = true
[merge]
    tool = meld
[alias]
    undo = reset --soft HEAD^
    cleanup = !git for-each-ref --format '%(refname:short)' --merged HEAD refs/heads/ | grep -v master | grep -v main | xargs -r git branch -D
[commit]
	gpgsign = true
[core]
	editor = code --wait
[diff]
    tool = default-difftool
[difftool "default-difftool"]
    cmd = code --wait --diff $LOCAL $REMOTE
[pager]
	branch = false
[pull]
	ff = only
[init]
	defaultBranch = main
[fetch]
	prune = true
[rebase]
	autosquash = true
[help]
	autocorrect = 20
