[color]
	ui = auto
[user]
	name = zyhou
[push]
	default = simple
[merge]
    tool = meld
[alias]
	undo = reset --soft HEAD^
[commit]
	gpgsign = true
[core]
	editor = code --wait
[diff]
    tool = default-difftool
[difftool "default-difftool"]
    cmd = code --wait --diff $LOCAL $REMOTE
[pager]
	branch = false
[pull]
	ff = only
[init]
	defaultBranch = main
[fetch]
	prune = true
